body {
  margin: 0;
  background-color: #f3f1f1;
  font-family:  'Roboto',  sans-serif;
}
/*Header*/
nav{
  background-color: #552727;
  box-shadow: 0 4px 4px rgba(32, 12, 12, 0.25);
  padding: 1em;
}
.navLink{
  text-decoration: none;
  padding: 1em 2em;
  font-size: 1.3em;
  color: #fff;
}
.navLink:hover{
  background-color: #fff;
  color:#1c1c1c;
}

/*Main*/
.main-container{
  display:flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 5em;
  box-shadow: 0 4px 4px rgba(32, 12, 12, 0.25);
  border-radius: 20px;
  background-color: #d7d5d5;
  padding: 1em 2em;
}

/*Employee list*/
.table{
  width: 80%;
  position: relative;
  border-collapse: collapse;
}
.table thead{
background-color: #552727;
color: #fff;
font-size: 1.3em;
}
.table th{
  padding: 10px;
  text-align: center;
}
.table td{    
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #6b2a2a;
}
.table tbody :hover{
   background-color: white;
   color: #6b2a2a;
}
.table a{
  font-size: 1.2em;
  text-decoration: none;
  color: #1c1c1c;;
}

/*Search bar*/
.input-search{
  text-indent: 5px; 
  width: 50%;
  font-size: 1.3em;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  margin: 20px;  
  box-shadow: 0 4px 4px rgba(32, 12, 12, 0.25); 
}

/*Details*/
.content-box{
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.img-box{
  width: 20%; 
  background-color: #fff;
  border-radius: 20px;  
  box-shadow: 0 4px 4px rgba(32, 12, 12, 0.25);
}
.img-box img{
  width: 100%;
  height: auto;  
}
.text-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;  
  box-shadow: 0 4px 4px rgba(32, 12, 12, 0.25);
  padding: 2em;
}
.text-box span{
  padding: 0.5em;
  font-size: 1.2em;
}

/*Footer*/
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #552727;
  color: #fff;  
}
footer p{
  font-size: 1.1em;
  text-align: center;
}

/*Responsive*/
@media screen and (max-width: 1200px) {
  .main-container{
    margin: 0; 
  }
  .content-box{
    width: 100%;
  }
  .text-box{
    width: 60%;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 600px) {
.text-box{
    width: 60%;
    font-size: 0.8em;
  }
  .content-box{
    width: 100%;
    flex-wrap: wrap-reverse;
  }
}
@media screen and (max-width: 400px) {
  .img-box{
    display: none;
  }
  .text-box{
   width: 100%;
   background-color: transparent;
   box-shadow: none;     
  }
  table{
    font-size: 0.6em;
  }
  .input-search, .navLink, footer p{
    font-size: 1em;
  }
}